body{
    margin:0%;
    display: block;
}
section{
    width:1080px;
    height:2160px;
    text-align: center;
    background: black;
    color: white;
    display: block;
}
#splash{
    
}
#home{
    
}
#juego{
    
}
#instrucciones{
    
}
#creditos{
    
}	
#instrucciones p{
    margin:25px;
    text-align: left;
}	
.boton{
    background-color: Navy;
    color:white;
    padding: 10px;
    text-decoration: none;
}
.volver{
    margin-left: -300px;
    line-height: 50px;
}