
section{
    width:1080px;
    height:2160px;
    text-align: center;
    background: black;
    color: white;
    
}
#splash{
    
}
#home{
    
}
#juego{
    
}
#objetivo{
    
}
#creditos{
    
}	
#como_jugar{
    margin:25px;
    text-align: left;
}	
.boton{
    background-color: Navy;
    color:white;
    padding: 10px;
    text-decoration: none;
}
.volver{
     margin-left: -980px;
    line-height: 140px;
}
h1{
    font-size: 120px;
}
 .imagen{
    height: 30%;
    width: 60%;
    padding-top: 20%;
}

a{
    font-size: 70px;
}
p{
    font-size: 70px;
    margin:50px;
}
span{
    font-size: 70px;
}
#integrantes{
    margin-top: 20px;
}