/*General*/
body {
	margin: 0;
	width: 424px;
	height: 776px;
	position: relative;
	font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

h3{
    color: yellow;
}

section {
	/*width: 1080px;
    height: 1960px;*/
	width: 424px;
	height: 776px;
	text-align: center;
	background: #102439;
	color: white;
	position: absolute;
}

/*.box {
	background-color: #daa520;
	position: fixed;
}*/

.btnMenu {
	width: 275px;
	height: 88px;
	margin: 20px;
}

.btnVolver {
	width: 70px;
	height: 70px;
	margin: 15px;
	float: left;
}

.header {
	display: flex;
}


/*Splash*/

/*Inicio*/
.alienInicio {
	width: 150px;
	height: 196px;
	display: inline-block;
	margin: 0 20px 0 20px;
}

/*Jugar*/
.nose {
	position: relative;
}

#reloj {
	height: 45px;
	width: 45px;
	display: inline-block;
}

.vida {
	height: 50px;
	width: 50px;
	margin: 5px;
}

/*Instrucciones*/

/*Objetivo*/

/*Personajes*/
.personajes p,h2{
    margin-left: 15px;
}

.personajes .personaje {
	margin: 60px;
	display: flex;
	align-items: center;
}

.alienPersonaje {
	width: 80px;
	height: 120px;
}

#raro{
    color: blue;
}

#comun{
    color: green;
}

#epico{
    color: red;
}

/*Créditos*/
.integrantes p,h2{
    margin-left: 15px;
}

.integrantes .integrante {
	margin: 40px 25px 25px 25px;
	display: flex;
	align-items: center;
}

/*Para organizar*/
#como_jugar {
	margin: 25px;
	text-align: left;
}

.boton {
	background-color: Navy;
	color: white;
	padding: 10px;
	text-decoration: none;
}

.volver {
	margin-left: -980px;
	line-height: 140px;
}

/*h1 {
    font-size: 120px;
}*/

.imagen {
	height: 30%;
	width: 60%;
	padding-top: 20%;
}

#btnsMenu {
	margin-top: 60%;
}

a {
	font-size: 70px;
}

/*p {
    font-size: 70px;
    margin: 50px;
}*/

span {
	font-size: 70px;
}

#integrantes {
	margin-top: 20px;
}

.oculto {
	display: none;
}

/*logica*/
.tablero {
	display: grid;
	grid-template-columns: 65px 65px 65px 65px 65px;
	grid-gap: 10px;
	padding: 10px;
	margin-top: 30%;
	margin-left: 20px;
	margin-right: 20px;
	background-color: yellow;
}

.tablero > img {
	height: 95px;
	width: 65px;
	background-color: blue;
}

.reloj {
	height: 45px;
	width: 45px;
	background-color: wheat;
	display: inline-block;
}

.puntuacion {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}
.tiempos {
	display: flex;
	margin-left: 45%;
	margin-top: 25px;
	position: absolute;
}
#tiempo {
	margin-left: 10px;
}

.corazonesVidas {
	display: inline-flex;
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.rondas {
	float: left;
	margin-left: 60px;
}
/*Creditos*/

.titulo h1 {
	margin-top: 35px;
	margin-left: 100px;
}
